<picture>
            <img
            sizes="(max-width: 300px) 100vw, 300px"            
            srcset="
            /assets/img/Projects_Picture_ptpsvm/Projects_Picture_ptpsvm_ar_1_1,c_fill__c_scale,w_100.jpg 100w,
            /assets/img/Projects_Picture_ptpsvm/Projects_Picture_ptpsvm_ar_1_1,c_fill__c_scale,w_278.jpg 278w,
            /assets/img/Projects_Picture_ptpsvm/Projects_Picture_ptpsvm_ar_1_1,c_fill__c_scale,w_405.jpg 405w,
            /assets/img/Projects_Picture_ptpsvm/Projects_Picture_ptpsvm_ar_1_1,c_fill__c_scale,w_505.jpg 505w,
            /assets/img/Projects_Picture_ptpsvm/Projects_Picture_ptpsvm_ar_1_1,c_fill__c_scale,w_600.jpg 600w"
            src="Projects_Picture_ptpsvm_ar_1_1,c_fill__c_scale,w_600.jpg"
            alt="">
            </picture>