<picture>
<img
	sizes="(max-width: 850px) 100vw, 850px"
	srcset="
	assets/img/blogpostThumbnail20160315/IMAG0172_1_xukayp_ar_16_9,c_fill__c_scale,w_100.jpg 100w,
	assets/img/blogpostThumbnail20160315/IMAG0172_1_xukayp_ar_16_9,c_fill__c_scale,w_387.jpg 387w,
	assets/img/blogpostThumbnail20160315/IMAG0172_1_xukayp_ar_16_9,c_fill__c_scale,w_567.jpg 567w,
	assets/img/blogpostThumbnail20160315/IMAG0172_1_xukayp_ar_16_9,c_fill__c_scale,w_720.jpg 720w,
	assets/img/blogpostThumbnail20160315/IMAG0172_1_xukayp_ar_16_9,c_fill__c_scale,w_850.jpg 850w"
	src="IMAG0172_1_xukayp_ar_16_9,c_fill__c_scale,w_850.jpg"
	alt="">
</picture>