<img
	sizes="(max-width: 2000px) 100vw, 2000px"
	srcset="
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_ycvsok_ar_21_9,c_fill__c_scale,w_150.jpg 150w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_ycvsok_ar_21_9,c_fill__c_scale,w_873.jpg 873w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_ycvsok_ar_21_9,c_fill__c_scale,w_1321.jpg 1321w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_ycvsok_ar_21_9,c_fill__c_scale,w_1673.jpg 1673w,
	greenhouseSlideShow3_ycvsok_ar_21_9,c_fill__c_scale,w_2000.jpg 2000w"
	src="greenhouseSlideShow3_ycvsok_ar_21_9,c_fill__c_scale,w_2000.jpg"
alt="">