<picture>
	<img
	sizes="(max-width: 2000px) 100vw, 2000px"
	srcset="
	assets/img/greenhouseSlideShow4/greenhouseSlideShow4_vqgvkq_c_scale,w_190.jpg 190w,
	assets/img/greenhouseSlideShow4/greenhouseSlideShow4_vqgvkq_c_scale,w_900.jpg 900w,
	assets/img/greenhouseSlideShow4/greenhouseSlideShow4_vqgvkq_c_scale,w_1332.jpg 1332w,
	assets/img/greenhouseSlideShow4/greenhouseSlideShow4_vqgvkq_c_scale,w_1690.jpg 1690w,
	assets/img/greenhouseSlideShow4/greenhouseSlideShow4_vqgvkq_c_scale,w_2000.jpg 2000w"
	src="greenhouseSlideShow4_vqgvkq_c_scale,w_2000.jpg"
	alt="">
</picture>