<picture>
	<img
	sizes="(max-width: 2000px) 100vw, 2000px"
	srcset="
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_wdnsqv_c_scale,w_190.jpg 190w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_wdnsqv_c_scale,w_893.jpg 893w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_wdnsqv_c_scale,w_1328.jpg 1328w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_wdnsqv_c_scale,w_1686.jpg 1686w,
	assets/img/greenhouseSlideShow3/greenhouseSlideShow3_wdnsqv_c_scale,w_2000.jpg 2000w"
	src="greenhouseSlideShow3_wdnsqv_c_scale,w_2000.jpg"
	alt="">
</picture>