<picture>
	<img
	sizes="(max-width: 2000px) 100vw, 2000px"
	srcset="
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_otnyjk_c_scale,w_190.jpg 190w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_otnyjk_c_scale,w_907.jpg 907w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_otnyjk_c_scale,w_1336.jpg 1336w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_otnyjk_c_scale,w_1694.jpg 1694w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_otnyjk_c_scale,w_2000.jpg 2000w"
	src="greenhouseSlideShow2_resized_otnyjk_c_scale,w_2000.jpg"
	alt="">
</picture>