<picture>
<img
sizes="(max-width: 2000px) 100vw, 2000px"
srcset="
assets/img/greenhouseSlideShow1/greenhouseSlideShow1_resized_qtlbqq_c_scale,w_190.jpg 190w,
assets/img/greenhouseSlideShow1/greenhouseSlideShow1_resized_qtlbqq_c_scale,w_913.jpg 913w,
assets/img/greenhouseSlideShow1/greenhouseSlideShow1_resized_qtlbqq_c_scale,w_1341.jpg 1341w,
assets/img/greenhouseSlideShow1/greenhouseSlideShow1_resized_qtlbqq_c_scale,w_1696.jpg 1696w,
assets/img/greenhouseSlideShow1/greenhouseSlideShow1_resized_qtlbqq_c_scale,w_2000.jpg 2000w"
src="greenhouseSlideShow1_resized_qtlbqq_c_scale,w_2000.jpg"
alt="">
</picture>