<picture>
<img
	sizes="(max-width: 2000px) 100vw, 2000px"
	srcset="
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_mjr8tt_ar_21_9,c_fill__c_scale,w_150.jpg 150w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_mjr8tt_ar_21_9,c_fill__c_scale,w_890.jpg 890w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_mjr8tt_ar_21_9,c_fill__c_scale,w_1329.jpg 1329w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_mjr8tt_ar_21_9,c_fill__c_scale,w_1685.jpg 1685w,
	assets/img/greenhouseSlideShow2/greenhouseSlideShow2_resized_mjr8tt_ar_21_9,c_fill__c_scale,w_2000.jpg 2000w"
	src="greenhouseSlideShow2_resized_mjr8tt_ar_21_9,c_fill__c_scale,w_2000.jpg"
	alt="">
</picture>